In [8]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
from scipy.stats import linregress
import datetime

In [9]:
# Necessary Datasets
FS_Scores_data = pd.read_csv('.../Inverse Distance weaghting/Final_data_Description.csv')
FS_Scores_data.head(20)

,Patient_id,Date_of_visit,EDSS_score_assessed_by_clinician,Sex,Age,MS.in.pediatric.age,Relapse_number,Pyramidal,Cerebellar,Thronchioencephalic,...,Slop_O3_mean,Slop_SO2_mean,Slop_FG_mean,Slop_HU_mean,Slop_PP_mean,Slop_QQ_mean,Slop_RR_mean,Slop_TG_mean,Slop_TN_mean,Slop_TX_mean
0,2774,12/04/2013,1.0,0,31,0,1,1,0,0,...,0.00,0.00,0.00,0.00,0.00,-0.59,0.00,0.00,0.00,0.00
1,2774,05/07/2013,1.0,0,30,0,1,1,0,0,...,0.00,0.00,0.00,0.00,0.00,-0.47,0.00,0.00,0.00,0.00
2,2774,17/06/2015,0.0,0,32,0,1,1,1,1,...,0.00,0.00,0.00,0.00,0.00,2.90,0.00,0.00,0.00,0.00
3,2774,04/09/2015,1.0,0,32,0,1,1,2,1,...,0.00,0.00,0.00,0.00,0.00,1.34,0.00,0.00,0.00,0.00
4,2774,11/11/2015,0.0,0,32,0,1,3,3,2,...,0.00,0.00,0.00,0.00,0.00,-0.44,0.00,0.00,0.00,0.00
5,2774,29/04/2016,0.0,0,33,0,1,1,1,1,...,0.00,0.00,0.00,0.00,0.00,0.33,0.00,0.00,0.00,0.00
6,2774,17/10/2016,0.0,0,33,0,2,3,3,2,...,0.00,0.00,0.00,0.00,0.00,-2.05,0.00,0.00,0.00,0.00
7,2774,28/10/2016,0.0,0,33,0,2,3,3,2,...,0.00,0.00,0.00,0.00,0.00,-1.74,0.00,0.00,0.00,0.00
8,2774,23/10/2018,0.0,0,35,0,2,3,2,2,...,0.00,0.00,0.00,0.00,0.00,-2.31,0.00,0.00,0.00,0.00
9,2774,09/02/2019,0.0,0,36,0,4,3,3,1,...,0.00,0.00,0.00,0.00,0.00,-1.94,0.00,0.00,0.00,0.00
10,2774,07/03/2020,0.0,0,37,0,4,1,1,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11,2774,05/07/2020,0.0,0,37,0,4,1,1,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,2774,23/10/2020,0.0,0,37,0,4,1,1,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,2774,19/01/2021,0.0,0,38,0,5,1,1,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,2774,14/04/2021,0.0,0,38,0,5,1,1,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,5835,10/11/2018,1.0,0,35,0,4,2,1,0,...,-0.60,0.00,0.00,0.00,0.00,-2.21,0.00,0.00,0.00,0.00
16,10667,27/11/2014,2.5,0,41,0,6,2,1,0,...,-0.41,0.03,-0.01,0.43,-0.09,-2.39,-0.06,-0.06,0.03,-0.20
17,10667,06/11/2015,2.5,0,42,0,6,2,1,0,...,0.12,-0.01,0.00,0.03,0.12,0.01,-0.08,0.16,0.19,0.16
18,10667,21/12/2015,2.5,0,43,0,6,2,1,0,...,-0.29,-0.08,-0.01,0.37,0.67,-0.60,-0.05,-0.05,-0.05,-0.05
19,10667,13/06/2016,2.5,0,43,0,6,2,1,0,...,0.23,-0.03,-0.02,0.08,0.10,0.32,-0.09,0.16,0.16,0.22

In [10]:
# Doing some preprocessing for both data
# Remove duplicate rows in clinical data
features_to_shift = FS_Scores_data.columns[15:]

# Shift the values of the selected features to the previous visit
for feature in features_to_shift:
    FS_Scores_data[feature] = FS_Scores_data.groupby('Patient_id')[feature].shift(-1)

In [12]:
FS_Scores_data[features_to_shift] = FS_Scores_data.groupby('Patient_id')[features_to_shift].ffill()

In [13]:
FS_Scores_data.to_csv("Shifted_data.csv", index= False)